<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Online</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Festive&family=Qahiri&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="icon" type="imagen/png" href="imagen/logobeta.jpeg">
    <!--favicon debe ser-24x24, 16x16,32x32-->
</head>

<body>
    <header class="main-header">
        <div class="container-flex">
            <div class="main-header-container">
                <h1 class="main-header-title">El tío import</h1>
                <span class="icon-menu  " id="btn-menu"><i class="fas fa-bars"></i></span>
                <nav class="main-nav" id="main-nav">
                    <ul class="menu">
                        <li class="menu-item"><a href="/profile" class="menu-link">HOME</a></li>
                        <li class="menu-item"><a href="/Nosotros" class="menu-link">Nosotros</a></li>
                        <li class="menu-item"><a href="/form" class="menu-link">FEATURES</a></li>
                        <li class="menu-item"><a href="./polos" class="menu-link">Polos</a></li>
                        <li class="menu-item">

                    </ul>
                </nav>
            </div>
            <div class="main-header-container">
                <span class="main-header-txt">Need Help</span>
                <p class="main-header-txt"><i class="fas fa-phone"></i> Call 123456</p>
            </div>
            <div class="main-header-container">
                <a href="" class="main-header-link"><i class="fas fa-user"></i></a>
                <a href="" class="main-header-btn">My cart <i class="fas fa-shopping-cart"></i></a>
                <input type="search" class="main-header-input" placeholder="Buscar productos"><i class="fas fa-search"></i>


            </div>
        </div>

    </header>

    <main class="main">



        <div class="container-editor">

            <div class="editor-item">
                <img src="imagen/fondo4.jpg" class="editor-img" alt="">
                <p class="editor-circle">EXPRESS YOUR STYLE NOW</p>
            </div>
            <div class="editor-item">
                <img src="imagen/fondo6.jpeg" class="editor-img" alt="">
                <p class="editor-circle">EXPRESS YOUR STYLE NOW</p>
            </div>
        </div>


    </main>
    <footer class="main-footer">
        <div class="footer-section">
            <h2 class="footer-title">ABOUT US</h2>
            <p class="footer-txt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur nesciunt molestiae, animi facilis distinctio mollitia ab, quisquam tempore doloremque, nam numquam. Voluptas et sint nam illo eius veritatis neque debitis!</p>
        </div>
        <div class="footer-section">
            <h2 class="footer-title">Location</h2>
            <p class="footer-txt">0926K 4th block building,King Avenue, New York City</p>
            <h2 class="footer-title">Contact</h2>
            <p class="footer-txt">Phone: +121 698 8907</p>
            <p class="footer-txt">Email: info@example.com
            </p>
        </div>
        <div class="footer-section">
            <h2 class="footer-title">Quick Links</h2>
            <p class="footer-txt"><a href="" class="footer-link">Home</a></p>
            <p class="footer-txt"><a href="" class="footer-link">About</a></p>
            <p class="footer-txt"><a href="" class="footer-link">Error</a></p>
            <p class="footer-txt"><a href="" class="footer-link">Shop</a></p>
            <p class="footer-txt"><a href="" class="footer-link">Contact Us</a></p>
        </div>
        <div class="footer-section">
            <h2 class="footer-title">Sign up for your offers</h2>
            <p class="footer-txt">By subscribing to our mailing list you will always get latest news and updates from us</p>
            <input type="email" class="footer-input" placeholder="Enter your email">

        </div>
        <p class="copy">@ 2021 Googles. All Rights Reserved | Design by Alucard</p>
    </footer>
    <script src="/js/slider.js"></script>
    <script src="/js/menu.js"></script>

</body>

</html>